* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /* grid-template-rows: repeat(4, 1fr); */

    grid-template-rows: 1fr 70px 4fr 70px;
    grid-template-areas:
    "h h h h"
    "a a a a"
    "m m m n"
    "f f f f";
    /* min-height: 100vh; */
    height: 100vh;
    grid-gap: 0;
}

header {
    /* grid-column: 1/-1;
    grid-row: 1; */
    height: 100%;   /* без данного присутствует белая полоса */
    grid-area: h;
}

nav {
    /* grid-column: 3;
    grid-row: 3; */
    /*border: 10px solid #4b054e;*/
    font: bolder 10% Segoe Print;
    color: black;
    grid-area: n;
}

main {
    /* grid-column: 1/3;
    grid-row: 3; */
    height: 100%;   /* и без этого присутствует белая полоса */
    grid-area: m;
}

aside {
    /* grid-column: 1/-1;
    grid-row: 2; */
    grid-area: a;

    /* display: grid; */
    /* align-items: center; */
    /* justify-items: center; */

    background-color: #4b054e;
    /*background-color: #5C80D6;*/
    /*font: bolder 1.5vw Segoe Print;*/
    font: bolder 35px Segoe Print;
    color: white;
    text-shadow: black 3px 3px 5px;
}

footer {
    /* grid-column: 1/-1;
    grid-row: 4; */
    grid-area: f;
    /* min-height: 100px; */

    background-color: #5C80D6;
    text-align: center;
    font: bolder 10% Segoe Print;
}

/* если экран меньше, меняем сетку, меняем расположение ячеек, убираем header */
@media screen and (max-device-width: 1050px){
  .grid{
    grid-template-rows: 70px 4fr 1fr 1fr;
    grid-template-areas:
    "a a a a"
    "m m m m"
    "n n n n"
    "f f f f";
  }

  header{
    display: none;
  }
}

#ava {      /* Это типа резиновая шапка:) */
    width: 100%;
    height: 100%;
}

#karta {
    width: 100%;
    height: 100%;
    position: relative; /* для позиционирования скрытых блоков*/
    z-index: 0;
}

p:nth-child(1) {font-size: 20px;}

nav > div:nth-child(1) {background-color: #5C80D6; padding: 10px;
  font-size: 2vw; text-align: center;}

/*nav > div:nth-child(2) {background-color: #43B369; border: 5px solid #4b054e;}*/
nav > div:nth-child(2) {background-color: #43B369;}

/*nav > div:nth-child(3) {background-color: #FF8159; border: 5px solid #4b054e;}*/
nav > div:nth-child(3) {background-color: #FF8159;}

/*nav > div:nth-child(4) {background-color: #f72f3b; border: 5px solid #4b054e;}*/
nav > div:nth-child(4) {background-color: #f72f3b;}

nav > div {
    display: grid;
    align-items: center;
    justify-items: center;

    /* min-height: 25%;                /* Далеко не сразу додумался до этого:)) */
    /* max-height: 100%; */

    /* min-width: auto;
    max-width: 100%; */

    font-size: 40px;
}

/* Добавил для сетки навигации */
.gridInDiv{
  /* для строчек */
      display: grid;
      grid-template-rows: 10% 30% 30% 30%;
      grid-template-columns: repeat(1, 1fr);
      height: 100%;
}

footer {                            /* тупо для центровки */
    /* display: grid;
    align-items: center;
    justify-items: center; */
}
#khvblock, #spbblock, #mskblock {
  height: auto;
  width: auto;
  border-radius: 10px;
}
.butimg{
  width: 80%;
  cursor: pointer;
  align: center;
  border-top: 7px solid black;
  border-bottom: 7px solid black;
}
