* {
    padding: 0;
    margin: 0;
}

.grid {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(4, auto);
    min-height: 100vh;
}

header {
    grid-column: 1/-1;
    grid-row: 1;
    height: 100%;   /* без данного присутствует белая полоса */
}

nav {
    grid-column: 2;
    grid-row: 3;
    /*border: 10px solid #4b054e;*/
    font: bolder 1vw Segoe Print;
    color: black;
}

main {
    grid-column: 1;
    grid-row: 3;
    height: 100%;   /* и без этого присутствует белая полоса */
}

aside {
    grid-column: 1/-1;
    grid-row: 2;

    /*display: flex;*/
    /*justify-content: center;*/
    /*align-items: center;*/

    display: grid;
    align-items: center;
    justify-items: center;

    background-color: #4b054e;
    /*background-color: #5C80D6;*/
    /*font: bolder 1.5vw Segoe Print;*/
    font: bolder 35px Segoe Print;
    color: white;
    text-shadow: black 3px 3px 5px;
}

footer {
    grid-column: 1/-1;
    grid-row: 4;
    min-height: 100px;

    background-color: #5C80D6;
    text-align: center;
}


#ava {      /* Это типа резиновая шапка:) */
    width: 100%;
    height: 100%;
}

#karta {
    width: 100%;
    height: 100%;
}

p:nth-child(1) {font-size: 24px;}

nav > div:nth-child(1) {background-color: #5C80D6; padding: 10px}

/*nav > div:nth-child(2) {background-color: #43B369; border: 5px solid #4b054e;}*/
nav > div:nth-child(2) {background-color: #43B369;}

/*nav > div:nth-child(3) {background-color: #FF8159; border: 5px solid #4b054e;}*/
nav > div:nth-child(3) {background-color: #FF8159;}

/*nav > div:nth-child(4) {background-color: #f72f3b; border: 5px solid #4b054e;}*/
nav > div:nth-child(4) {background-color: #f72f3b;}

nav > div {
    /*display: flex;*/
    /*justify-content: center;        !* центр вертикально *!*/
    /*flex-direction: column;         !* чтобы flex был в колонку *!*/
    /*text-align: center;             !* центр горизонтально *!*/

    /* Что и flex выше, но на гридах */
    display: grid;
    align-items: center;
    justify-items: center;

    min-height: 25%;                /* Далеко не сразу додумался до этого:)) */
    max-height: 100%;

    min-width: auto;
    max-width: 100%;

    font-size: 50px;
}

footer {                            /* тупо для центровки */
    /*display: flex;*/
    /*justify-content: center;*/
    /*flex-direction: column;*/

    display: grid;
    align-items: center;
    justify-items: center;
}
